{% extends "base_generic.html" %}

{% block content %}
  <h1>Authors List</h1>
  {% if perms.catalog.can_mark_returned %}
    <a href="{% url 'author_create' %}" class="btn btn-primary">Create new</a>
  {% endif %}
  {% if author_list %}
  <ul>
    {% for author in author_list %}
      <li>
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, ({{ author.first_name }})</a>
        {% if perms.catalog.can_mark_returned %}
        <a href="{% url 'author_update'  author.id %}" title="Editar" class="ml-2">
          <i class="fas fa-pen"></i>
        </a>
        <a href="{% url 'author_delete'  author.id %}" title="Excluir" class="ml-2">
          <i class="fas fa-times"></i>
        </a>
        {% endif %}
        
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors in the library.</p>
  {% endif %}
{% endblock %}
